*{
    text-decoration: none;
   
}
.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 12px;
    padding-left: 12px;
    /*border: 1px solid #962a30;*/
    text-transform: capitalize;
    position:sticky;
    top: 10px;
    background-color: white;
    
    
    

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

li{
    list-style: none;
    display: inline-block;

}
li a{
    color :#962a30 !important;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;

}
button{
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 50px;
    background-color: #962a30;
}
button a{
    color:white;
    
}
.bg{
    width: 1105px;
}
.fonts{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.heading{
    text-align: center;
}
.button{
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    height: 50px;
    background-color: #962a30;
    
}    
.button a{
    color: white;
}
.heading2{
    background-color: #962a30;
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;

}
.btn{
    width: 30%;
    color:#962a30;
    height: 10%;
    background-color: white;
    border: 1px solid #962a30;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

  
